<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 공통 매퍼 -->
<mapper namespace="com.nemustech.common.mapper.CommonMapper">
	<sql id="page_top">
		<if test="page_number != null and page_number != 0">
		<![CDATA[
SELECT *
  FROM (
		]]>
		</if>
	</sql>

	<sql id="page_middle">
		<if test="page_number != null and page_number != 0
			and order_by != null and order_by != ''">
		<![CDATA[
      ,ROW_NUMBER() OVER (ORDER BY ${order_by}) rnum
		]]>
		</if>
	</sql>

	<sql id="page_bottom">
		<if test="page_number != null and page_number != 0
			and rows_per_page != null and rows_per_page != 0">
		<![CDATA[
) WHERE rnum BETWEEN #{rows_per_page} * (#{page_number} - 1) + 1
                 AND #{rows_per_page} * #{page_number}
ORDER BY rnum
		]]>
		</if>
	</sql>

	<sql id="count_top">
    <![CDATA[
SELECT COUNT(1) AS count
    ]]>
	</sql>
</mapper>